body {
    font-family: 'open sans', Serif;
    font-size: 15px;
    color: #121212;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h4, h2{
    font-family: 'ubuntu', Sans-Serif;
    color: #f86869;
    font-weight: bolder;
    text-shadow: .5px .5px .5px #8e2f2f;
}

nav {
    font-family: 'ubuntu', Sans-Serif;
    font-weight: bolder; 
}

/* footer {
    color: #121212;
    Font-Family: 'open sans', Sans-Serif;
    Font-Size: 15px;
} */


a.sidenav-trigger {
    color: #121212;
}

a.brand-logo.left {
    color: #121212;
}

nav ul li a{
    color: #121212;
    
  }

#about {
    /* padding-top: 100px; */
}

#services {
    /* padding-top: 100px; */
}

#pricing {
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

#logo {
    padding-left: 75px;
}

#section-1 {
    background-color: #ffffff;
}

#section-2 {
    background-color: #b2def3;
}

#section-3 {
    background-color: #ffffff;
}

#section-4 {
    background-color: #c9c2f3;
    text-align: center;
    padding: 20px 0 20px 0;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  .wave {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    vertical-align: middle;
    overflow: hidden;
  }

  .btn , .btn-small, .btn-large{
    background-color: #f86869 !important;
    border-radius: 25px !important;
}



/* Hero video background settings */
.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 85vh;
    background: no-repeat center center/cover;
}

video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
}

.overlay {
    width: 55%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(103, 102, 103, 0.5);
    background-size: 3px 3px; */
    /* z-index: 2; */
}

h1 {
    Font-Family: 'ubuntu', Sans-Serif;
    font-size: 5.5em !important;
    font-weight: bolder;
    /* text-shadow: .5px .5px 2px #403a4b; */
    text-align: left;
    color: #333333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    /* max-width: 400px; */
    width: 100%;
    height: 50px;
    padding-top: 100px;
    padding-left: 75px;
}

#button {
    text-align: left;
    padding-left: 75px;
    padding-top: 25px;
}

#subtitle {
   text-align: left;
   margin-top: 43%;
   font-size: 1.75em;
   padding-left: 75px;
}